@import "../../style/css/mixins.scss";

.faq {
	margin-block-start: 9vw;
	max-width: var(--max-width-block);
	margin-inline: auto;

	&__wrapper {
		width: 83.3%;
		margin: 0 auto;
	}

	&__title-group {
		margin-block-end: 3.9vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		width: 49.6%;
		display: flex;
		align-items: center;
		gap: 33px;
		@include title-font ();
	}

	&__description {
		width: 26.6%;
		text-align: right;
		@include font (300, clamp(12px, 1.1vw, 16px), 1.5em);
		color: var(--gray-800);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
}

@media screen and (max-width: 550px) {
	.faq{
		&__title-group {
			flex-direction: column;
			gap: 16px;
		}

		&__title {
			width: 100%;
		}

		&__description {
			width: 100%;
			text-align: left;
		}
	}
}
