@import "../../style/css/mixins.scss";

.advantages{
	margin-block-start: 9vw;
	padding-block-end: 18px;
	max-width: var(--max-width-block);
	margin-inline: auto;

	&__wrapper {
		width: 83.3%;
		max-width: var(--max-width-block);
		margin: 0 auto;
	}

	&__title-group {
		max-width: 1500px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		display: flex;
		align-items: center;
		gap: 2.3vw;
		@include title-font ();
	}

	&__description {
		width: 21%;
		text-align: right;
		@include font (300, clamp(12px, 1.1vw, 16px), 1.5em);
		color: var(--gray-800);
	}

	&__cards-group {
		width: 92%;
		max-width: 1500px;
		margin-block-start: 56px;
		display: flex;
		flex-wrap: wrap;
		column-gap: 32px;
		row-gap: 30px;
	}

	&__card {
		min-height: 204px;
		padding-block: 16px 24px;
		@include pink-card ();

		&_first {
			width: 33.7%;
		}
		&_second {
			width: 50%;
			flex-grow: 1;
			padding-inline-end: 17px;
		}
		&_third {
			width: 62.7%;
		}
		&_fourth {
			width: 20%;
			flex-grow: 1;
		}
	}

	&__card-title {
		@include font (500, clamp(18px, 1.7vw, 24px), 1.3em);
		color: var(--red-500);
	}

	&__card-description {
		@include font (300, clamp(12px, 1.1vw, 16px), 1.5em);
		color: var(--general-black);
	}
}

@media screen and (max-width: 1150px) {
		.advantages{
				&__cards-group {
					width: 100%;
				}

				&__card {
					box-sizing: border-box;
					width: calc((100% - 32px)/2);
					padding-inline-end: 16px;
					flex-grow: 0;
				}
	}
}

@media screen and (max-width: 630px) {
			.advantages{
				&__cards-group {
					flex-direction: column;
				}

				&__card {
					width: 100%;
				}
	}
}

@media screen and (max-width: 550px) {
	.advantages{
		&__title-group {
			flex-direction: column;
			gap: 16px;
		}

		&__title {
			width: 100%;
		}

		&__description {
			width: 100%;
			text-align: left;
		}
	}
}

