@import "../../style/css/mixins.scss";

.pages-navigation{
	margin-block-start: 24px;

	&__content {
		width: 83.3%;
		margin: 0 auto;
	}
	
	&__text {
		@include font (300, 14px, 20px);
		color: var(--gray-300);

		&_link:hover {
			text-decoration: underline;
			text-underline-offset: 2px;
		}
	}
}
