@import "../../../style/css/mixins.scss";

.articles {
	margin-block-start: 5vw;

	&__title {
		margin-block: 0;
		@include font (700, clamp(24px, 2.2vw, 32px), 1.2em);
		color: var(--red-900);
	}

	&__links {
		margin-block-start: 2.2vw;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__link {
		display: flex;
		gap: 8px;
		@include font (300, clamp(14px, 1.25vw, 18px), 1.5em);
		color: var(--red-300);

		svg {
			margin-block-start: -2px;
		}

		&:hover {
			text-decoration: underline;
			text-underline-offset: 4px;
		}
	}
}
