@import "../../style/css/mixins.scss";

.modal{
	position: fixed;
	left: calc((100% - 54.6vw) / 2);
	top: 10.5%;
	z-index: 3;
	width: 54.6vw;
	height: 30.5vw;
	border-radius: 6px;
	overflow-y: auto;
	display: flex;
	align-items: center;
	color: var(--general-white);
	background-color: var(--general-black);
	background-image: url(../../images/modalSuccess/background-thank.svg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;

	@media screen and (min-width: 1500px) {
		left: calc((100% - 45vw) / 2);
		width: 45vw;
		height: 20vw;
		padding-block: 60px;
		top: 9%;
	}

	&__wrapper {
		position: relative;
		width: 83%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	&__title {
		width: 100%;
		@include font (700, clamp(22px, 2.2vw, 32px), 1.2em);
	}

	&__close {
		position: absolute;
		right: -20px;
		top: -51px;
		background-color: transparent;
	}

	&__description {
		margin-block: 16px 24px;
		@include font (300, clamp(14px, 1.25vw, 18px), 1.5em);
	}

	&__tel {
		@include font (700, clamp(22px, 2.7vw, 40px), 1.2em);
		color: var(--red-100);
	}
}


@media screen and (max-width: 1439px) {
	.modal {
		height: auto;
		min-height: 25vw;
		padding-block: 2.3vw;

		&__close {
			top: -15%;
		}
	}
}

@media screen and (max-width: 900px) {
	.modal {
		left: calc((100% - 70vw) / 2);
		width: 70vw;
		min-height: 30vw;
		padding-block: 4vw;

		@media screen and (max-width: 750px) {
			width: 100%;
			min-height: 40vw;
			left: 0;
		}

		@media screen and (max-width: 550px) {
			min-height: 40vh;
		}
	}
}
