@font-face {
    font-family: 'Stolzl';
    src: url('../../style/fonts/Stolzl-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../../style/fonts/Stolzl-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../../style/fonts/Stolzl-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../../style/fonts/Stolzl-Book.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
