@import "../../style/css/mixins.scss";

.news{
	width: 17.7vw;
	margin-inline: auto 0;
	margin-block-end: 3.9vw;
	padding-block-end: 35px;

	@media screen and (max-width: 1340px) {
		width: 100%;
		margin-inline: 0;
	}

	&__title {
		margin-block: 0 20px;
		@include font (500, clamp(16px, 1.25vw, 18px), 1.5em);
		color: var(--red-400);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__item {
		display: block;
		padding-block-end: 8px;
		border-bottom: 1px solid var(--gray-50);
		@include font (300, clamp(12px, 1vw, 14px), 1.4em);
		color: var(--gray-700);

		&:hover {
			color: var(--general-black);
		}
	}
}
